<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>holo.ch.video.upd</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/fish</string>
      <string>/Users/kamui/doc/hoby/youtube/vtuber/hololive/prj/stt/ch_video/ch_video__upd.fish</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>00</integer>
        <key>Minute</key>
        <integer>05</integer>
      </dict>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/kamui/doc/hoby/youtube/vtuber/hololive/prj/stt/ch_video</string>
    <key>StandardOutPath</key>
    <string>/Users/kamui/doc/hoby/youtube/vtuber/hololive/prj/stt/ch_video/log/std-out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/kamui/doc/hoby/youtube/vtuber/hololive/prj/stt/ch_video/log/std-err.log</string>
  </dict>
</plist>

