body {
  background-color: #202124;
  color: #bdc1c6;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  text-align: center;
}
a {
  color: #99b6e8;
}
a:link {
  color: #99b6e8;
}
a:link.playing {
  color: #bdc1c6;
}
a:visited {
  color: #B384FF;
}
ul {
  list-style-type: none;
}
.header {
  position: fixed;
  background-color: #202124;
  width: 100%;
  /*
  overflow-x: auto;
  white-space: nowrap;
   */
}
.hdr_lr {
  display: inline-block;
  width: calc((100% - (640px + 40px)) / 2);
  vertical-align: top;
  font-size: 0.8rem;
}
.hdr_l {
  text-align: left;
}
.hdr_r {
  text-align: right;
}
#plyr {
  /* margin: 0 auto; */
}
#flt_bar {
  background-color: #000;
  color: #bdc1c6;
}
.video_lst {
  display:flex;
  flex-flow: column;
}
.video_lst_scrl {
  padding-top: 280px; /* 370px; */

  text-align: left;
  width: 800px;

  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;

  /*
  overflow-y: auto;
  height: 800px;
   */
}
.video_lst_scrl::-webkit-scrollbar {
  display:none;
}
.view_cnt {
  display: inline-block;
  width: 85px;
  text-align: right;
  color: #688ccb;
}
.view_cnt_new {
  display: inline-block;
  width: 85px;
  text-align: right;
  color: #5CB095;
}
.title {
  display: inline-block;
  margin-left: 15px;
}

.tooltip {
  position: relative;          /* ツールチップの位置の基準に */
  cursor: pointer;             /* カーソルを当てたときにポインターに */
}
.tooltip-text {
  opacity: 0;                  /* はじめは隠しておく */
  visibility: hidden;          /* はじめは隠しておく */
  position: absolute;          /* 絶対配置 */
  left: -3%;                   /* 親に対して中央配置 */
  transform: translateX(-50%); /* 親に対して中央配置 */
  bottom: 20px;                /* 親要素下からの位置 */
  display: inline-block;
  padding: 5px;                /* 余白 */
  white-space: nowrap;         /* テキストを折り返さない */
  font-size: 0.7rem;
  line-height: 1.3;            /* 行間 */
  background: #333;
  color: #bdc1c6;
  border-radius: 3px;          /* 角丸 */
  transition: 0.3s ease-in;    /* animation */
}
.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
.spc {
  text-align: left;
  width: 500px;
  display: inline-block;
}

