
body {
  background-color: #202124;
  color: #bdc1c6;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  text-align: center;
}

a {
  color: #99b6e8;
}

a:link {
  color: #99b6e8;
}

a:link.playing {
  color: #bdc1c6;
}

a:visited {
  color: #B384FF;
}

ul {
  list-style-type: none;
}

#plyr {
  /* margin: 0 auto; */
}

input[type="search"]#flt_bar {
  width: 750px;
  background-color: #1a1c21;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: blueviolet;
  padding-left: 10px;
  color: #bdc1c6;
  font-size: 0.9rem;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: url("/holo/img/input-cancel.png");
  height : 13px;
  width  : 13px;
  cursor : pointer;
  padding-right: 4px;
}

.switch {
  text-decoration: none;
}

::placeholder {
  color: gray;
}

.header {
  position: fixed;
  background-color: #202124;
  width: 100%;
  /*
  overflow-x: auto;
  white-space: nowrap;
   */
}

.hdr_lr {
  display: inline-block;
  width: calc((100% - (640px + 40px)) / 2);
  vertical-align: top;
  font-size: 0.8rem;
}

.hdr_l {
  text-align: left;
}

.hdr_r {
  text-align: right;
}

.video_lst_scrl {
  padding-top: 287px; /* 280px; 370px; */

  text-align: left;
  width: 800px;

  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  /*
   */

  /*
  overflow-y: auto;
  height: 800px;
   */
}

.video_lst_scrl::-webkit-scrollbar {
  display: inline-block;
  /*
  display:none;
   */
}

.video_lst {
  /* display: inline-block; */
  display: flex;
  flex-flow: column;
}

.view_cnt {
  display: inline-block;
  width: 85px;
  text-align: right;
  color: #688ccb;
}

.view_cnt_new {
  display: inline-block;
  width: 85px;
  text-align: right;
  color: #5CB095;
}

.title {
  display: inline-block;
  margin-left: 15px;
}

.flt-tltip {
  position: relative;          /* ツールチップの位置の基準に */
  /*
  cursor: pointer;                カーソルを当てたときにポインターに
   */
}
.flt-tltip:hover .flt-tltip-txt {
  opacity: 1;
  visibility: visible;
}

.flt-tltip-txt {
  opacity: 0;                  /* はじめは隠しておく */
  visibility: hidden;          /* はじめは隠しておく */
  
  position: absolute;          /* 絶対配置               */
  left: -3%;                   /* 親要素に対する表示位置 */
  transform: translateX(-50%); /* 親要素に対する表示位置 */
  bottom: 20px;                /* 親要素に対する表示位置 */
  
  display: inline-block;
  padding: 5px;                /* 余白 */
  text-align: start;
  white-space: nowrap;         /* テキストを折り返さない */
  font-size: 0.7rem;
  line-height: 1.3;            /* 行間 */
  background: #333;
  color: #bdc1c6;
  border-radius: 3px;          /* 角丸 */
  transition: 0.3s ease-in;    /* animation */
}

li.video_li {
  display: block;
  order: 0;
}
li.video_li:hover img.thmb {
  opacity: 1;
  visibility: visible;
}

span.thmb_frame {
  /* position: relative; */
}
img.thmb {
  opacity:         0;        /* はじめは隠しておく     */
  visibility: hidden;        /* はじめは隠しておく     */
  
  position: absolute;        /* 絶対配置               */
  /* left:    -130px;           親要素に対する表示位置 */
  left:          0px;        /* 親要素に対する表示位置 */
  /* bottom:    24px;           親要素に対する表示位置 */
  
  padding:       5px;        /* 余白                   */
  border-radius: 3px;        /* 角丸                   */
  background:    #333;
  color:         #bdc1c6;
  
  transition: 0.25s ease-in; /* animation              */
}

img.srch_icn {
  width:  18px;
  vertical-align: middle;
  margin: 0px 4px;
}

div.body_lr {
  display: inline-block;
  width: calc((100% - (800px + 40px)) / 2);
  padding-top: 287px;
  margin: 16px 0px;
  font-size: 0.8rem;
}

div.body_l {
  vertical-align: top;
  text-align: left;
}

div.body_r {
  vertical-align: top;
  text-align: right;
}


/*
 * mmbr.html
 */
.spc {
  display: inline-block;
  text-align: left;
  width: 600px;
  /* width: 500px; */
}

div.profile {
  display: inline-block;
}

div.profile_img {
}

img.profile {
  width:  75px;
  height: 75px;
  vertical-align: middle;
}

img.icn {
  width:  25px;
  vertical-align: middle;
}

.mmbr_name {
  display: none;
}

